.product_inner {
  margin: 20px;
  width: 80vw;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.product_toptext {
  margin: 15px;
  text-align: center;
  color: red;
  letter-spacing: 1px;
}
.product_mainText {
  font-size: 38px;
  color: #1b3253;
  letter-spacing: 4px;
  margin-bottom: 20px;
}
.productsCards_text {
  font-size: 17px;
  margin-top: 10px;
}

.products_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}
.productsCards {
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  background-color: rgb(222, 228, 228);
}

.productsCards img {
  width: 270px;
  height: 300px;
  padding: 2px;
}
